<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="the-one-api-tests">
        <classes>
            <class name="sh.locus.test.api.BookApiTest"/>
            <class name="sh.locus.test.api.MovieApiNegativeTest"/>
            <class name="sh.locus.test.api.MovieApiPositiveTest"/>
        </classes>
    </test>
</suite>
